<link type="text/css" rel="stylesheet" href="/admin/assets/javascripts/visual_element_editor/visual_element_editor.css">
<link rel="stylesheet" href="/admin/assets/javascripts/visual_element_editor/colorpicker/css/colorpicker.css" type="text/css" />
<link rel="stylesheet" href="/admin/assets/javascripts/visual_element_editor/colorpicker/css/layout.css" type="text/css" media="screen" />

<script type="text/javascript" src="/admin/assets/javascripts/visual_element_editor/colorpicker/js/colorpicker.js"></script>

<script type="text/javascript" src="/admin/assets/javascripts/vendors/jquery-ui.min.js"></script>
<script type="text/javascript" src="/admin/assets/javascripts/visual_element_editor/visual_element_editor.js"></script>
<script type="text/javascript" src="/admin/assets/javascripts/qor-banner-editor.js"></script>

<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>

    <div class="qor-field__show">
      {{.Value}}
    </div>

    <div class="qor-field__edit">
      <textarea class="banner-editor js-banner-editor" name="{{.InputName}}" data-configure="{{convert_visual_editor_setting}}">
        {{.Value}}
      </textarea>
    </div>
  </div>
</div>
