.qor-bannereditor {
    position: relative;
    overflow: hidden;
    &.qor-bannereditor__device-mode {
        padding-bottom: 20px;
        .qor-bannereditor__device-trigger {
            color: #03a9f4;
        }
        .qor-bannereditor__contents {
            background: none;
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .2);
        }
    }
    .qor-bannereditor__device-trigger {
        position: absolute;
        top: 2px;
        right: 0;
    }
    .qor-bannereditor__device-toolbar {
        width: 320px;
        margin: 0 auto;
        .select2-container--default .select2-selection--single {
            border-color: #03a9f4;
        }
        > p {
            font-size: 12px;
            text-align: center;
            margin: 0;
        }
    }
    iframe {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }

    .qor-bannereditor__contents {
        background: url(../images/bg-transparents.png);
        margin: 0 auto;
    }

    .qor-bannereditor__toolbar {
        margin: 0 0 24px;
        padding: 0;
        .select2-container {
            width: 100% !important;
        }
        button {
            font-size: 12px;
        }

        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
