.qor-bannereditor {
    position: relative;
    overflow: hidden;

    *[draggable=true] {
        -moz-user-select: none;
        -khtml-user-drag: element;
        cursor: move;
        position: absolute;
    }

    .qor-bannereditor__toolbar {
        margin: 0 0 24px;
        padding: 0;

        button {
            font-size: 12px;
        }

        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .qor-bannereditor__canvas {
        border: 2px dotted rgba(0,0,0,.2);
        min-height: 300px;
        position: relative;

        * {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        .draging {
            border: 1px dotted rgba(0,0,0,.2);
        }
    }
}
